@set complete-view < download-view {
    section > #task-table {
        style-set: complete-tasktable;
        height: *;
    }

    button.visible {
        visibility: visible;
    }

    button.hidden {
        visibility: hidden;
    }
}

@set complete-tasktable < download-tasktable {
    table th:nth-child(1) { width: 5*; }
    table th:nth-child(2) { width: 3*; }
    table th:nth-child(3) { width: 1.5*; }
}